@import "../public/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    user-select: none;
  }
}

@layer components {
  .field {
    @apply bg-white dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 rounded-lg p-3
    text-neutral-900 dark:text-neutral-100 
    focus:border-neutral-400 dark:focus:border-neutral-500
    hover:bg-neutral-50 dark:hover:bg-neutral-800;
  }

  .section {
    @apply bg-white dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 rounded-md p-6 w-full;
  }

  .section-title {
    @apply text-xl font-bold mb-5 text-neutral-900 dark:text-neutral-100;
  }

  .product-list {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 8px;
  }

  .product-list::-webkit-scrollbar {
    width: 8px;
  }

  .product-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .product-list::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #fb923c 0%, #fbbf24 100%);
    border-radius: 10px;
  }

  .product-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #f97316 0%, #f59e0b 100%);
  }
}

label {
  display: block;
  @apply leading-6 mb-2 text-neutral-900 dark:text-neutral-100 text-sm;
}
